  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 10px;    
  }
  thead{
    line-height:2em;
  }  
  .card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80% !important;
    border-radius: 5px;
    margin: 0 auto;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    margin-top:5%;
  }
  
  .table-position{
    margin-top:10%;
    width:100%
  }
  .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-left:25px;
  }
  
  .custom-card{
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 80%;
      margin: 0 auto;
      /* float: none; */
      margin-bottom: 10px;
      border-radius: 5px;
      margin-top: 25px;   
      padding-bottom: 10px; 
      padding-top: 5px;
      padding-left: 5%;
      padding-right: 5%;
  }